##Quais fatores influenciam na valorização ou desvalorização de um ativo?

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv('/content/all_stocks_5yr.csv')
df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [34]:
#Vendo a quantidade de linhas e colunas tem o dataframe
df.shape

(619040, 7)

In [35]:
#Vendo a quantidade de elementos do dataframe
df.size

4333280

In [36]:
#Vendo a dimensão do dataframe
df.ndim

2

In [37]:
#Verificando o tipo dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    619040 non-null  object
 1   open    619029 non-null  float64
 2   high    619032 non-null  float64
 3   low     619032 non-null  float64
 4   close   619040 non-null  float64
 5   volume  619040 non-null  int64
 6   Name    619040 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 33.1+ MB

###Tratando dados faltantes

In [38]:
#Verificando os dados faltantes do dataset
df.isnull().sum()

date       0
open      11
high       8
low        8
close      0
volume     0
Name       0
dtype: int64

In [39]:
df['open'] = df['open'].interpolate(method='linear')
df['high'] = df['high'].interpolate(method='linear')
df['low'] = df['low'].interpolate(method='linear')

In [40]:
df.isnull().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
Name      0
dtype: int64

###Criando features

In [69]:
#Criando coluna de média movel exponencial
df['EMA10'] =  df['close'].ewm(span=10, adjust=False).mean()

In [70]:
df

              date   open   high    low  close    volume Name      EMA10
0       2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL  14.750000
1       2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL  14.697273
2       2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL  14.619587
3       2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL  14.626935
4       2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL  14.511128
...            ...    ...    ...    ...    ...       ...  ...        ...
619035  2018-02-01  76.84  78.27  76.69  77.82   2982259  ZTS  77.722553
619036  2018-02-02  77.53  78.12  76.73  76.78   2595187  ZTS  77.551180
619037  2018-02-05  76.64  76.92  73.18  73.83   2962031  ZTS  76.874602
619038  2018-02-06  72.74  74.56  72.13  73.27   4924323  ZTS  76.219220
619039  2018-02-07  72.70  75.00  72.69  73.86   4534912  ZTS  75.790271

[619040 rows x 8 columns]